.first_section{
    font-family: sans-serif;
    background-color: #1f2937;
    padding-left: 50px;
    padding-right: 100px;
}

.first_section .header{
    display:flex
    
}

.first_section .header .Header_Logo{
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
    flex:3
}

.first_section .header .Header_Link{
    color: #E5E7EB;
    font-size: 18px;
    padding-top: 10px;
    flex:1;
}


.first_section .Hero{
    display:flex
    
}

.first_section .Hero .Hero_Main_Text{
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
    
}

.first_section .Hero .Hero_Secondary_Text{
    color: #E5E7EB;
    font-size: 18px;
    
}

.Hero_Button{
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    border-radius: 10px; 
    min-width: 120px;
    padding: 10px;  
}

.first_section .Hero .Hero_Left{
    flex:1
}

.first_section .Hero .Hero_Right{
    flex:1
}

.second_section{
    /* height: 600px; */
    text-align: center;
}

.s2_Images_Container_1{
    display:flex;
    justify-content: center;
}

.s2_Images_Container_1_Item{
    flex: 0 1 0;
    min-width: 100px;
    max-width: 150px;
    height: 100px;
    padding: 0px 20px;
    border-style: solid;
    border-radius: 10px;
    border-color: blue;
    margin: 0px 20px;
    
}
.s2_Images_Container_2{
    display:flex;
    justify-content: center;
}

.s2_Images_Container_2_Item{
    flex: 0 1 0;
    min-width: 100px;    
    max-width: 150px;
    height: auto;
    padding: 0px 20px;
    margin: 0px 20px;
    
}

.third_section{
    display: flex;
    background-color: #E5E7EB;
    color: grey;
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.third_section_item{
    flex: 0 0 auto;
    text-wrap: wrap;
    width: 600px;
}

.third_section_item .quote_name{
    justify-self: flex-end;
    color: black;
    font-style:normal;
    font-size: 24px;
}
